<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/links %>
    <title>Home Page</title>
  </head>

  <body>

 <!-- Fixed navbar -->
    <% include partials/nav %>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <% if (user) { %> 
        <h1>Welcome, <%= user.name %></h1>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">Go to...&raquo;</a>
        </p>
      <% } %>
      <% if (!user) { %> 
        <h1>Welcome</h1>
        <p>
          <a class="btn btn-lg btn-primary" href="/users/login" role="button">Login &raquo;</a>
          <a class="btn btn-lg btn-primary" href="/users/register" role="button">Register &raquo;</a>
        </p>
      <% } %>
      </div>
    <%include partials/footer %>
    </div> <!-- /container -->
    
    <%include partials/scripts %>
    
  </body>
</html>
