<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/links %>
        <title>Home Page</title>
</head>

<body>
    <!-- Fixed navbar -->
    <% include partials/nav %>
        <div class="container">
        <h2 class="page-header">Account Settings</h2>
            <div class="row">
                <div class="col-lg-12 ">
                    <% include partials/flash-msgs %>
                    <h3 class="form-header">Change Email</h3>
                    <form method="post" action="/users/setting?Action=changeEmail">
                        <div class="form-group">
                            <label>Current Email</label>
                            <input type="text" class="form-control" placeholder="Current Email" name="old_email">
                        </div>
                        <div class="form-group">
                            <label>New Email</label>
                            <input type="text" class="form-control" placeholder="New Email" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 change-password-container">
                    <h3 class="form-header">Change Email</h3>
                    <form method="post" action="/users/setting?Action=changePassword">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" name="old_password">
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
            <% include partials/footer %>
        </div>
        <%include partials/scripts %>

</body>

</html>